<div class="three wide column">

  <div><img src="/img/<%= movie.image%>"style="width:150px;height: 200px "></div>
  <div>电影名称：<a href="/admin/<%= movie._id %>"><%= movie.title %></a></div>

  <div>评分：<%= movie.rating %></div>

</div>
