<%- include('header') %>

<div class="container">
  <div class="ui grid">

    <% movies.forEach(function (movie) { %>
    <%- include('components/mv-content', { movie: movie}) %>
    <% }) %>

  </div>
</div>


<%- include('footer') %>
